name: CI Pipeline

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    environment: test
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node JS
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Install Dependencies
        run: npm ci

      - name: Run Eslint
        run: npm run lint:eslint

      - name: Run Prettier
        run: npm run format:check

      - name: Run Stylelint
        run: npm run lint:stylelint

      - name: TypeScript Type Check
        run: npm run type-check

      - name: Run Test Coverage
        run: npm run test:coverage
        env:
          PORT: ${{ secrets.port }}
          VITE_ENV: ${{ vars.VITE_ENV }}

  production:
    needs: test
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node JS
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Install Dependencies
        run: npm ci

      - name: Build the Application
        run: npm run build
        env:
          PORT: ${{ secrets.port }}
          VITE_ENV: ${{ vars.VITE_ENV }}
      - name: upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist
